.App {
  text-align: center;
  background-color: black;
  display: flex;
  flex-direction: column;
  margin: 0px;
  width: 100vw;
  height: 100vh;
}

.card{
  margin: auto;
  background-color: black;
  border: 5px solid red;
  width: 400px;
}
.card input{
  margin-left: 15px
}
.save{
  text-align: right;
  margin-top: 5px;
}