.App {
  background: linear-gradient(
    167deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin: 0px;
  width: 100vw;
  height: 100vh;
}
